.footer {
  background: #000;
  color: #fff;
  margin-top: 120px;
  font-size: 14px;
}

.footer-top {
  max-width: 1440px;
  margin: auto;
  padding: 70px 64px 40px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 80px;
}

.footer h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.footer p {
  font-size: 13px;
  color: #ccc;
}

.footer-input-group {
  display: flex;
  margin-top: 20px;
  background-color:white;
color:black;
}

.footer-input-group input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
}

.footer-input-group button {
  padding: 12px 24px;
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.footer-currency-title {
  margin-top: 28px;
}

.footer-currency {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}

.footer-currency-note {
  font-size: 11px;
  color: #aaa;
  max-width: 320px;
}


.footer-divider {
  height: 1px;
  background: #333;
  margin: 0 64px;
}

.footer-links {
  max-width: 1440px;
  margin: auto;
  padding: 50px 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.footer-links h5 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
}

.footer-links a {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  color: #ccc;
  text-decoration: none;
}

.footer-socials  {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
  font-size: 22px;
  margin-right: 16px;
}

.footer-accepts-title {
  margin-top: 30px;
}

.footer-payments span {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  padding: 6px 10px;
  background: #fff;
  color: #000;
  font-size: 11px;
  border-radius: 4px;
}

.footer-copy {
  text-align: center;
  font-size: 12px;
  color: #aaa;
  padding-bottom: 30px;
}

@media (max-width: 1024px) {
  .footer-top {
    grid-template-columns: 1fr;
  }

  .footer-links {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .footer-top,
  .footer-links {
    padding: 40px 24px;
  }
}

.footer-input-group input {
  color: #000;              
  background-color: #fff;   
}


.footer-input-group input::placeholder {
  color: #666;
}

